FUNNYTOOLS_ALLOWED_ORIGINS=https://funnytools.win,https://www.funnytools.win
FUNNYTOOLS_MAX_UPLOAD_MB=80
FUNNYTOOLS_MAX_BATCH_MB=120
FUNNYTOOLS_MAX_IMAGE_PIXELS=25000000
FUNNYTOOLS_MAX_PDF_PAGES=200
FUNNYTOOLS_MAX_OCR_PAGES=30
FUNNYTOOLS_ENABLE_DOCS=0
